In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('FalseTrainData.csv')

In [3]:
df1.head()

,Unnamed: 0,title,text,subject,date
0,0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df1['output'] = ["1"]*df1.shape[0]

In [5]:
df1.pop('Unnamed: 0')

0            0
1            1
2            2
3            3
4            4
         ...
14995    14995
14996    14996
14997    14997
14998    14998
14999    14999
Name: Unnamed: 0, Length: 15000, dtype: int64

In [6]:
df1.head()

,title,text,subject,date,output
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [7]:
df2 = pd.read_csv('TrueTrainData.csv')

In [8]:
df2.head()

,Unnamed: 0,title,text,subject,date
0,0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [9]:
df2['output'] = ["0"]*df2.shape[0]
df2.pop('Unnamed: 0')

0            0
1            1
2            2
3            3
4            4
         ...
14995    14995
14996    14996
14997    14997
14998    14998
14999    14999
Name: Unnamed: 0, Length: 15000, dtype: int64

In [10]:
df2.head()

,title,text,subject,date,output
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [20]:
df = pd.concat([df1, df2]).reset_index()
df.pop('date')

0         December 31, 2017
1         December 31, 2017
2         December 30, 2017
3         December 29, 2017
4         December 25, 2017
                ...
29995    November 13, 2017
29996    November 13, 2017
29997    November 13, 2017
29998    November 12, 2017
29999    November 13, 2017
Name: date, Length: 30000, dtype: object

In [21]:
df.tail()

,index,title,text,subject,output
29995,14995,Australian publisher delays book alleging Chin...,BEIJING (Reuters) - One of Australia s largest...,worldnews,0
29996,14996,Exclusive: Japan to delay multi-billion dollar...,TOKYO (Reuters) - Japan will delay a decision ...,worldnews,0
29997,14997,"Strong quake hits Costa Rica, no reports of ma...",SAN JOSE (Reuters) - A strong 6.5 magnitude qu...,worldnews,0
29998,14998,United resumes Newark-Delhi flights after halt...,NEW YORK/SINGAPORE (Reuters) - United Airlines...,worldnews,0
29999,14999,Freeport Indonesia mine access road reopened a...,JAKARTA (Reuters) - The Indonesian unit of Fre...,worldnews,0

In [22]:
from sklearn.utils import shuffle

In [29]:
df = shuffle(df)

In [30]:
df.head()

,index,title,text,subject,output
10088,10088,"DISGUSTING! UNEMPLOYED, RACE-OBSESSED Colin Ka...","Few people, if any, keep track of ratings or p...",politics,1
11415,11415,WATTERS’ WORLD: “Do you have Obamacare?”…”How ...,,politics,1
20492,5492,Trump and Japan's Abe take a swing at golf dip...,"JUPITER, Florida (Reuters) - President Donald ...",politicsNews,0
28807,13807,Xi wants China to spruce up toilets to boost t...,BEIJING (Reuters) - China must keep up efforts...,worldnews,0
4175,4175,Here’s The New Way Trump Is Scamming Republic...,Donald Trump has claimed to be a billionaire w...,News,1

In [31]:
df.isnull().sum()

index      0
title      0
text       0
subject    0
output     0
dtype: int64

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [33]:
stop_words = set(stopwords.words('english'))

In [34]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}